* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  padding: 40px 20px;
}

.project--input {
  width: 600px;
  font-size: 40px;
  height: 50px;
  /* border-radius: 10px; */
}

#create--project {
  /* border-radius: 10px; */
  font-size: 40px;
  /* padding: 8px; */
  height: 50px;
  width: 150px;
  margin-left: 20px;
}

#container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  display: flex;
  gap: 20px;
  /* border: solid 2px black; */
  /* background-color: rgb(160, 160, 160); */
}

.project {
  background-color: rgb(214, 214, 214);
  border-radius: 10px;
  margin: 10px 0px;
  border: solid 2px black;
  width: 600px;
  height: auto;
  font-size: 40px;
  padding-left: 10px;
}

.description {
  font-size: 30px;
}

.todo {
  font-size: 30px;
}

.todo.hidden {
  display: none;
}

.project--btn {
  margin: 10px 5px 0px 0px;
  float: right;
  padding: 5px;
  height: fit-content;
}

.todo--form {
  border: solid 2px black;
  padding: 20px;
  background-color: white;
  width: 800px;
  height: fit-content;
  position: fixed;
  z-index: 1;
  overflow: auto;
}

.todo--form.hidden {
  display: none;
}
