* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  padding: 40px 20px;
}

#new--project--input {
  width: 600px;
  font-size: 40px;
  height: 50px;
  /* border-radius: 10px; */
}

#create--project {
  /* border-radius: 10px; */
  font-size: 40px;
  /* padding: 8px; */
  height: 50px;
  width: 150px;
  margin-top: -10px;
  margin-left: 20px;
}

#container {
  margin-top: 40px;
  display: flex;
  width: 1220px;
  flex-wrap: wrap;
  gap: 20px;
  /* background-color: bisque; */
  /* background-color: rgb(160, 160, 160); */
}

.project {
  display: flex;
  /* flex-direction: column; */
  background-color: rgb(214, 214, 214);
  border-radius: 10px;
  margin: 10px 0px;
  border: solid 2px black;
  width: 600px;
  height: 200px;
  font-size: 40px;
  padding-left: 10px;
}

button {
  margin: 10px 2px 0px 0px;
  padding: 5px;
  align-self: flex-start;
}

.todo--form {
  display: flexbox;
  border: solid 2px black;
  background-color: white;
  width: 600px;
  height: fit-content;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
}

/* .todo--form.hidden {
  display: none;
} */
